<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title  %> </title>
</head>
<body>
  <!-- link halaman -->
  <div class="link">
    <a href="/">Home</a>
    |
    <a href="./about">About</a>
    |
    <a href="./contact">Contact</a>
  </div> 
  <%- body %>
</body>
</html>